.fa-solid{
    background-color: rgba(82, 67, 194, 0.137);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    padding: 2px;
    text-align: center;
    color: #5243C2;
}
.card-body:hover{
    background-color: #3F87F5
    ;
    color: white;
    margin-top: -20px;
    transition: 0.3s;
    border-radius: 30px;
}
.card-link{
    background-color: white;
}