#alert-box {
    right: 15px;
    width: 278px;
    top: 105%;
    height: 12%;
}
.album-img{
    transition: 0.5s;
}
.album-img:hover{
    transform: rotate(5deg);
    transition: 0.5s;
}
.fa-solid{
    background-color: rgba(82, 67, 194, 0.137);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    padding: 2px;
    text-align: center;
    color: #5243C2;
}
.card-body{
    background-image: url(icons/watermark.svg);
}
.card-body:hover{
    background-color: #3F87F5;
    color: white;
    margin-top: -20px;
    transition: 0.3s;
    border-radius: 30px;
}
.card-link{
    background-color: white;
}
.column{
    box-shadow: 0px 5px 10px  rgb(170, 193, 236);
}
.cards{
    transition: 0.3s;
}
.cards:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
footer {
    background-color: #000 !important;

}